#@file:.gitignore
#@author: Philippe Coval <http://rzr.online.fr/contact.htm>
*~
*.tmp
*.o
*.a
*.so
.deps/
MANIFEST
Makefile
*.log
*.cache
*.status
*-stamp


Makefile.in
aclocal.m4
configure
src/Makefile.in
src/archivers/dms/Makefile.in
src/archivers/zip/Makefile.in
src/threaddep
src/tools/build68k
src/tools/configure
src/tools/genblitter
src/tools/gencomp
src/tools/gencpu
src/tools/genlinetoscr
src/uae

.pc
